$notice-color:white;
$background-color: rgba(0, 100, 0, 0.6);
$start-height: -5.5em;

@keyframes drop-in {
    from { top: $start-height; }
    to { top: 0; }
}

@keyframes drop-out {
    from { top: 0; }
    to { top: $start-height; }
}

.dropOut {
    top: $start-height;
    animation: drop-out 0.4s ease-in-out;
}
.dropIn {
    top: 0;
    animation: drop-in 0.4s ease-in-out;
}

.main {
    font-size: 1.5em;
    background-color: $background-color;
    color: $notice-color;
    font-weight: bolder;
    padding: 0.8em;

    position: fixed;
    left: 0;
    width: 100%;

    text-align: center;
}