.active, .button {
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 5px;
}

.active {
    font-size: 1.35em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    text-align: center;
    color: yellow;
}

.widgetbar {
    text-align: center;
    background-color: black;
    padding: 0.4em;
    display: inline;

    color: white;
    position: fixed;
    bottom: 6%;
    left: 0vw;
    width: 100vw;
}

.tageditor {
    display: flex;
    flex-wrap: wrap;

    text-align: left;
    background-color: #111133FF;
    color: white;
    padding: 0.5em;

    input {
        margin-left: 1em;
        background-color: inherit;
        color: inherit;
        border: 0;
        outline: 0;
    }
}

.tageditor_tag {
    display: flex;
    flex-direction: row;

    margin: 0.4em;
    padding-left: 1em;
    padding-right: 1em;

    padding-top: 0.3em;
    padding-bottom: 0.3em;

    background-color: gray;
    color: white;
    border-radius: 4px;

    button {
        font-size: 1.2em;
        background-color: gray;
        position: relative;
        left: -0.7em;
        margin-right: 0.5em;
        padding-right: 0.5em;
        border-right: 1px solid white;
        display: inline;

        cursor: pointer;
    }
}

[contentEditable] { 
    outline: 0px solid transparent;
}
