.active, .button {
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 5px;
}

.active {
    font-size: 1.35em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    text-align: center;
    color: yellow;
}

.widgetbar {
    text-align: center;
    background-color: black;
    padding: 0.4em;
    display: inline;

    position: fixed;
    bottom: 6%;
    left: 0vw;
    width: 100vw;
}

[contentEditable] { 
    outline: 0px solid transparent;
}
