{
  "env": {
    "es6": true,
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "indent": 0,
    "quotes": 0,
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-empty-pattern": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/react-in-jsx-scope": 0,
    "@typescript-eslint/ban-ts-comment": 1,
    "@typescript-eslint/no-extra-semi": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "^_"
      }
    ]
  }
}