.account {
  max-width: 30em;
  margin: auto;

  .switchNewUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form {
    button {
      margin-top: 1em;
    }
  }
}