@import '/src/styles/variables';

html { 
  scroll-behavior: smooth; 
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $general-header-weight;
}

.title {
  font-weight: $article-header-weight;
  font-size: 3em;
  overflow-wrap: break-word;
  text-align: center;
}

#table_of_contents {
  border: 1px solid slategrey;
  margin: 2em;
  padding: 1.5em;

  #header {
    padding: 0;
    margin: 0;
    font-size: 1.8em;
  }

  #folder {
    float: right;
    font-weight: bolder;
    cursor: pointer;
  }
}

.article {
  width: 100%;
  overflow-wrap: break-word;
  line-height: 1.6em;

  h1,h2,h3,h4,h5,h6 {
    padding-top: 3.8em;
    margin-top: -0.4em;

    font-weight: $article-header-weight;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #BBBBBB;
    color: #666666;
  }

  margin-bottom: 15%;
}

#tag_view {
    margin-bottom: 5%;
    opacity: 0.2;
    transition: opacity 1s;
    p {
        color: #666666FF;
        margin-left: 1em;
        display: inline;
    }
}

#tag_view:hover {
    opacity: 1.0;
}

img {
  max-width: 100%;
}

.floatLeft { 
  float: left;
}
.floatCenter { 
  display: block;
  margin: auto;
}
.floatRight { 
  float: right;
}