@import '/src/styles/_variables';

$warning-red: hsl(0, 69%, 53%);

html {
  scroll-behavior: smooth;
}

#articleControls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;

  #deleteBtn {
    background-color: $warning-red;
    color: white;

    &:hover,
    &:active {
      box-shadow:
        0 0 6px hsl(0, 50%, 80%),
        0 0 12px hsl(0, 40%, 90%),
    }
  }
}

.title {
  font-weight: $article-header-weight;
  font-size: 3em;
  overflow-wrap: break-word;
  text-align: center;
}

.dateView {
  color: hsl(0, 0%, 75%);
  font-size: .875em;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2em;

  p {
    margin: 0;
    line-height: 100%;
  }

  @media screen and (min-width: 700px) {
    &>:not(:last-child) {
      display: flex;
      align-items: center;

      &::after {
        content: '·';
        font-size: 1.75rem;
        padding: 0 .5rem;
      }
    }
  }

  @media screen and (max-width: 700px) {
    flex-flow: column;
    gap: 1em;
  }
}

.article {
  width: 100%;
  overflow-wrap: break-word;
  line-height: 1.6em;

  a {
    color: #2222AAFF;

    &:visited {
      color: #666666FF;
    }

    &:hover {
      color: purple;
    }
  }

  @include headings {
    font-weight: $general-header-weight;
    padding-top: 2em;

    font-weight: $article-header-weight;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom: 1px solid #BBBBBB;
    color: #666666;
  }

  margin-bottom: 15%;
}

img {
  max-width: 100%;
}

.floatCenter {
  display: block;
  margin: auto;
}

@include for-medium-screens {
  .floatLeft {
    float: left;
  }

  .floatRight {
    float: right;
  }
}

.noWrapAroundText {
  float: none;
  clear: none;
}

.captionBox {
  width: auto;
  display: grid;
  border: 1px solid gray;
  margin: 0.3em;
}

.captionImagePreview {
  border: 1px solid gray;
  display: block;
  margin: auto;
  margin-top: 3px;
}

.captionBoxInner {
  line-height: 1.1em;
  font-size: 0.7em;
  margin: 0.3em;
}