@import '/src/styles/_variables';

.tagView {
  margin-bottom: 5%;
  opacity: 0.2;
  transition: opacity 0.7s;
  clear: both;

  display: flex;
  flex-flow: row wrap;
  gap: 1em;

  &>* {
    margin: 0;
    padding: 0.5em;
  }

  :first-child {
    flex-basis: 100%;
  }

  p {
    color: #666666FF;
  }

  &:hover {
    opacity: 1.0;
  }
}