@import "/src/styles/variables";

$btn-main: hsl(0, 0%, 67%);
$btn-hover: white;
$btn-clicked: hsl(0, 0%, 87%);

.btn {
  cursor: pointer;
  user-select: none;

  color: $btn-main;

  &:hover,
  &:focus {
    color: $btn-hover;
  }

  &:active {
    color: $btn-clicked;
  }
}