$main: hsl(0, 0%, 1%);
$emp: hsl(0, 0%, 13%);
$alternative: hsl(0, 0%, 56%);
$border: hsl(0, 0%, 20%);

$text-main: white;
$very-green: hsl(147, 68%, 16%);

$article-header-weight: 350;
$general-header-weight: 400;