@import '/styles/variables';

.active,
.button {
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 5px;
  margin-right: 0.5em;
}

.active {
  font-size: 1.35em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  text-align: center;
  color: yellow;
}

.widgetbar {
  z-index: 1;
  text-align: center;
  background-color: black;
  padding: 0.4em;
  display: inline;

  color: white;
  position: fixed;
  bottom: 6%;
  left: 0vw;
  width: 100vw;
}

.tageditor {
  display: flex;
  flex-wrap: wrap;

  text-align: left;
  background-color: #111133FF;
  color: white;
  padding: 0.5em;

  input {
    margin-left: 1em;
    background-color: inherit;
    color: inherit;
    border: 0;
    outline: 0;
  }
}

.tageditor_tag {
  display: flex;
  flex-direction: row;

  margin: 0.4em;
  padding-left: 1em;
  padding-right: 1em;

  padding-top: 0.3em;
  padding-bottom: 0.3em;

  background-color: gray;
  color: white;
  border-radius: 4px;

  button {
    font-size: 1.2em;
    background-color: gray;
    position: relative;
    left: -0.7em;
    margin-right: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid white;
    display: inline;

    cursor: pointer;
  }
}

.settingsWindow {
  background-color: white;
  border-radius: 5px;
  width: 60%;

  margin-top: 2em;

  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }

  button {
    font-size: 1.3em;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.4em;
    transition: transform 0.05s;
  }

  button:hover {
    color: white;
    background-color: black;
    transform: scale(1.05);
  }

  button:active {
    color: yellow;
    transform: scale(0.98);
  }

  .unfocused {
    opacity: 0.5;
    pointer-events: none;
  }
}

@include for-extra-small-screens {

  #imageContextSettingsWindow,
  #hyperlinkContextSettingsWindow {
    margin-top: 0;
    height: 100%;
    width: 100%;
  }
}

@include for-small-screens {
  #imageContextSettingsWindow {
    margin-top: 2em;
    height: 80%;
    width: 80%;
  }

  #hyperlinkContextSettingsWindow {
    margin-top: 2em;
    width: 85%;
    height: 50%;
  }
}

@include for-medium-screens {
  #imageContextSettingsWindow {
    margin-top: 2em;
    height: 80%;
    width: 45%;
  }

  #hyperlinkContextSettingsWindow {
    margin-top: 2em;
    width: 25%;
    height: 50%;
  }
}

@include for-large-screens {
  #imageContextSettingsWindow {
    margin-top: 2em;
    height: 80%;
    width: 35%;
  }

  #hyperlinkContextSettingsWindow {
    margin-top: 7em;
    width: 25%;
    height: 50%;
  }
}

.xOut {
  user-select: none;
  position: absolute;
  right: 1em;
  transition: color 0.3s;
  transition: transform 0.3s;

  &:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.15);
  }

  &:active {
    color: blue;
    transform: scale(0.95);
  }
}

// lots of stupid stuff. TODO get rid of this.
.alignToBottom {
  position: absolute;
  bottom: 1em;
  right: 3em;
}

#blotOut {
  display: flex;
  justify-content: center;

  z-index: 50;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #000000BB;
  width: 100vw;
  height: 100vh;
}

.richTextEditor {
  & [contentEditable] {
    outline: 0px solid transparent;
    min-width: 100%;
  }
}

.imagePreview {
  :first-child {
    border: 2px solid black;
    display: block;
    margin: auto;
    height: 200px !important;
  }
}

.contextGroupedRadio {
  display: flex;

  margin-top: 0.3em;
  width: 100%;
  justify-content: center;

  a {
    display: inline-block;

    padding: 0.8em;
    text-align: center;
    min-width: 15ch;

    user-select: none;

    &:before {
      /*
        I would like material icons for this one.
      */
    }

    &:hover {
      background-color: yellow;
      color: black;
    }

    &:active {
      background: green;
      color: white;
      transform: scale(95%);
    }

    cursor: pointer;

    background-color: royalblue;
    color: white;
    border: 1px solid white;

    transition: transform 0.2s;
    transition: color 0.2s;
    transition: background-color 0.2s;

    &.currentlySelected {
      background-color: gray;
      font-weight: bolder;
      color: white;
      transform: scale(110%);
    }
  }
}

#dimensionPicker {
  margin: auto;
  display: table;

  span {
    margin: 0.5em;
  }

  input {
    &:focus {
      border: 0.5px solid gray;
    }

    text-align: center;
    width: 5ch;
    outline: none;
    appearance: textfield;
  }
}

/*
Context Menu stuff, <ImageSettings> and friends
*/
.contextMenu {
  @keyframes open-up {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  button {
    margin: 0.2em;
    padding: 0.3em;
    border-radius: 2px;
    background-color: royalblue;
    color: white;

    transition: color 0.2s;
    transition: background-color 0.2s;

    &:hover {
      background-color: yellow;
      color: black;
    }
  }

  display: inline;
  overflow: hidden;

  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-name: open-up;

  background-color: white;
  padding: 0.4em;
  border-radius: 5px;
  box-shadow: black 3px 3px 5px;
}