@import "/src/styles/variables";

#header {
  z-index: 1;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1em;

  color: $very-green;
  background-color: white;
  box-shadow: 0 1px 1px hsl(0, 0%, 93%);

  .links {

    &>a,
    &>button {
      padding: 0.5em 1em;

      cursor: pointer;

      &:hover,
      &:focus {
        color: lighten($very-green, 12%);
        background-color: hsla(0, 0%, 70%, 0.25);
      }
    }
  }

  .menu {
    display: none;
    font-size: 1.75rem;
  }
}

#navbar {
  display: flex;
  align-items: center;
}

#logoDiv {
  display: flex;
  align-items: center;

  padding: 0.5em 1em;

  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    color: lighten($very-green, 12%);
  }

  &::before {
    content: '';
    height: 2rem;
    width: 2rem;

    background: center/100% url(/assets/projectenv-logo.png);
  }

  &::after {
    content: 'Recyclopedia';
    margin-left: 0.75rem;

    font-size: large;
    font-weight: bold;
  }
}

@media (max-width: 950px) {
  #header {
    &>:nth-child(2) {
      width: clamp(12em, 60vw, 30em);
    }

    #logoDiv::after {
      display: none;
    }

    #navbar:focus-within {

      .links {
        position: fixed;
        top: 0;
        right: 0;

        height: 100vh;
        margin: 0;
        padding: 3em 0;

        display: flex;
        flex-flow: column;

        background-color: white;
        box-shadow:
          0 0 0 99999px hsla(0, 0%, 50%, 0.5),
          0 0 6px hsl(0, 0%, 20%);

        &>* {
          padding: 1.25em 5em;
        }
      }
    }

    .menu {
      cursor: pointer;
      display: block;
      padding: 0.5rem;

      border-radius: 50%;

      &:hover {
        background-color: hsla(0, 0%, 70%, 0.25);
      }

      &:focus-within {
        background-color: hsla(0, 0%, 50%, 0.25);
      }
    }

    .links {
      display: none;
    }
  }
}