@import '/src/styles/variables';

.searchbar {
  position: absolute;
  height: 100%;
  width: 30em;

  top: 1em;
  left: calc(50% - 15em);

  &>*{
    width: 100%;
  }
}

.hoverBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 1em;
}

.searchResult {
  border: 1px solid darkgray;
  & * {
    // position: absolute;
    // display: inline;
    color: darken($alternative, 25);
    margin: 0.1em;
    padding: 0.125em;
  }

  br {
    display: none !important;
  }
}