@import '/src/styles/variables';

.searchbar {
  position: absolute;
  top: 0;
  left: 50vw;

  height: 100%;
  width: clamp(12em, 40vw, 30em);
  padding: 1em 0;

  transform: translateX(-50%);

  &>* {
    width: 100%;
  }
}

// .searchResult {
//   border: 1px solid darkgray;
//   background-color: white;

//   & * {
//     color: darken($alternative, 10);
//     margin: 0.1em;
//     padding: 0.125em;
//   }

//   br {
//     display: none !important;
//   }
// }