@import "/src/styles/variables";

.index {
  display: flex;
  flex-flow: column;
  gap: 1.5em;
}

#tagList {
  display: flex;
  flex-flow: wrap;
  gap: 1em;

  padding: 1em;
}

.articleLinks {
  a>p {
    margin: 0;
    padding: 1em;

    &:hover {
      background-color: $hover;
    }
  }
}