@import '/styles/variables';

.button {
  position: relative;
  display: grid;
  place-items: center;

  input {
    cursor: pointer;
    opacity: 0;

    position: absolute;
    height: 100%;
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
  }
}

.oval {
  input {
    &+label {
      padding: 0.5em 1em;
      border-radius: 999rem;

      color: $very-green;
      background-color: hsl(147, 40%, 96%);

      transition: .2s ease-out;
    }

    &:hover+label {
      background-color: hsl(147, 40%, 90%);
    }

    &:checked+label {
      color: white;
      background-color: hsl(147, 60%, 30%);
    }

    &:hover+label,
    &:checked+label {
      box-shadow:
        0 0 6px hsl(147, 20%, 80%),
        0 0 12px hsl(147, 10%, 90%),
    }
  }
}

.circle {
  input {
    &+label {
      display: grid;
      place-items: center;

      height: 2.5rem;
      width: 2.5rem;
      padding: 0;

      border-radius: 50%;
      overflow: hidden;

      color: hsl(0, 0%, 50%);
      border: 1px solid hsl(0, 0%, 90%);

      transition: .25s ease-out;
    }

    &:hover+label {
      color: hsl(0, 0%, 35%);
      background-color: hsl(0, 0%, 95%);
    }

    &:checked+label {
      color: white;
      background-color: hsl(147, 59%, 30%);
    }
  }
}