@import '/styles/variables';

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar {
  padding-left: 2rem;

  &>* {
    padding: 0.5em 1em;

    cursor: pointer;
    text-align: left;

    &:hover,
    &:focus {
      color: lighten($very-green, 12%);
      background-color: hsla(0, 0%, 70%, 0.25);
    }
  }
}

$transitionDuration: 0.5s ease-out;

.overlay.shrunk {
  transition: $transitionDuration;

  &>.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  &.opened {
    z-index: 999;
    position: fixed;
    inset: 0;

    background-color: hsla(0, 0%, 0%, .2);

    &>.sidebar {
      position: fixed;
      top: 0;
      right: 0;
      left: unset;
      visibility: visible;

      height: 100vh;
      margin: 0;
      padding: 4em 0;

      display: flex;
      flex-flow: column;

      background-color: white;

      &>:not(:first-child) {
        padding: 1.25em 5em;
      }

      animation: slideIn $transitionDuration;
    }

    &.slideOut {
      background-color: hsla(0, 0%, 0%, 0);

      &>.sidebar {
        animation: slideOut $transitionDuration;
      }
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
  }

  @keyframes slideOut {
    100% {
      transform: translateX(100%);
    }
  }
}

.menuBtn, .closeBtn {
  cursor: pointer;
  display: block;
  padding: 0.5rem;

  font-size: 1.75rem;

  border-radius: 50%;

  &:hover {
    background-color: hsla(0, 0%, 70%, 0.25);
  }

  &:focus {
    background-color: hsla(0, 0%, 50%, 0.25);
  }
}

.closeBtn{
  position: absolute;
  top: .5em;
  right: .5em;
}