$border: black;
$emp: transparent;

#searchbar {
  position: relative;
  display: grid;
  place-items: center;

  // margin: 3em auto;

  input {

    width: 100%;
    padding: 0.75em 1.5em;

    font-size: 1rem;
    font-weight: 500;

    outline: none;
    border-radius: 999rem;
    background-color: $emp;
    box-shadow: 0 2px 5px 1px hsl(218, 23%, 25%, .16);

    &:hover,
    &:focus-within {
      box-shadow: 0 2px 5px 1px hsl(218, 23%, 25%, .24);
    }
  }

  #searchbarControl {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 1em;
    cursor: pointer;

    display: flex;
    align-items: center;

    &>* {
      padding-left: .5em;
    }

    &>:not(:last-child) {
      padding-right: .5em;
      box-shadow: 1px 0 hsl(210, 4%, 85%);
    }
  }

  #clear {
    color: hsl(210, 4%, 46%);
  }

  #search {
    color: hsl(217, 89%, 61%)
  }
}