@import "/src/styles/variables";

#recyclingBin {
  #emptyMsg {
    margin-top: 3em;
    text-align: center;
    font-size: 2em;
  }

  .daysLeft {
    margin-left: 1em;
    display: inline-block;
    min-width: 3em;
  }
}