@import "/src/styles/variables";

@mixin screen {
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#loadingScreen {
  @include screen();
}

#errorScreen {
  @include screen();

  .errorImg {
    height: 300px;
    width: 300px;
    background: center/contain no-repeat url(/assets/caution-tape.png);
  }
}

#main {
  padding: 1em 2em;
  margin: 0 auto;
  
  width: 100%;
  max-width: 60em;
}