@import "/src/styles/variables";

.button {
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.default {
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 2rem;
  background-color: hsl(147, 60%, 30%);
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border-color: $very-green;

  &:hover {
    background-color: hsl(147, 60%, 30%);
  }
}

.oval {
  padding: 0.5em 1em;
  border-radius: 999rem;

  color: $very-green;
  background-color: hsl(147, 40%, 96%);

  transition: .2s ease-out;

  &:hover {
    background-color: hsl(147, 40%, 90%);
  }

  &:active {
    color: white;
    background-color: hsl(147, 60%, 30%);
  }

  &:hover,
  &:active {
    box-shadow:
      0 0 6px hsl(147, 20%, 80%),
      0 0 12px hsl(147, 10%, 90%),
  }
}