@import "/src/styles/variables";


.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  padding-left: 2rem;

  &>a,
  &>button {
    padding: 0.5em 1em;

    cursor: pointer;

    &:hover,
    &:focus {
      color: lighten($very-green, 12%);
      background-color: hsla(0, 0%, 70%, 0.25);
    }
  }
}

.overlay.shrunk {
  &>.links {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  &.opened {
    z-index: 999;
    position: fixed;
    inset: 0;
    
    background-color: hsla(0, 0%, 0%, .2);

    &>.links {
      position: fixed;
      top: 0;
      right: 0;
      left: unset;
      visibility: visible;

      height: 100vh;
      margin: 0;
      padding: 3em 0;

      display: flex;
      flex-flow: column;

      background-color: white;

      transition: 1s;
      animation: slideIn .5s forwards;

      &>* {
        padding: 1.25em 5em;
      }
    }
  }
}